body {
    background-color: #000000;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    margin: 0;
}

.header {
    background-color: #000000;
    width: 100%;
    height: 69px;
    border-bottom: 1px solid seashell;
    display: block;
    position: fixed;
    top: 0;
}

.logo {
    height: 50px;
    float: left;
    padding-left: 10px;
    padding-top: 10px;
}


.navigation li {
    list-style-type: none;
    display: inline;
    float: right;
    padding: 10px;
}

.navigation li a {
    color: seashell;
    opacity: 0.9;
}

img[src*="tea-cozy-logo"] {
    opacity: 0.4;
}

img[src*="tea-cozy-logo"]:hover {
    opacity: 0.9;
}

.mission-banner {
    background-image: url('/Users/daudk/Desktop/open source projects/codecademy/web projects/project 1/pictures/img-mission-background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    height: 700px;
    max-width: 1200px;
    margin: 40px auto 40px auto;
    display: flex;
}

.text-overlay {
    margin: auto;
    background-color: #000000;
    width: 100%;
}

.trend-container {
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.trend img {
    height: 200px;
    width: 300px;
    padding: 10px 10px;
}

.trend img h4 {
    margin-top: 150px;
}

.locations img {
    height: 500px;
    margin: 0 20px;
}

.banner {
    height: 600px;
    max-width: 1200px;
    margin: 40px auto auto auto;
    padding-top: 85px;
    background-image: url('https://content.codecademy.com/courses/freelance-1/unit-4/img-locations-background.jpg?_gl=1*cenz70*_ga*MTk5MDQzNTAyMy4xNjQ4ODQyMjc1*_ga_3LRZM6TM9L*MTY1MTY5Mzc3Ni40MC4wLjE2NTE2OTM3NzkuNTc.');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.centered-text {
    font-size: 43px;
    font-weight: bold;
}

.box-image-container {
    max-width: 1050px;
    margin: 15px auto auto auto;
    display: flex;
    justify-content: space-between;
}

.box {
    height: 300px;
    padding: 20px;
    flex-basis: 30%;
    box-sizing: border-box;
    background-color: #000000;
    opacity: 0.8;
}

.contact-details {
    height: 200px;
    opacity: 0.8;
}

footer {
    margin-left: 20px;
    text-align: left;
    opacity: 0.8;
}